amqp==2.5.2
anyjson==0.3.3
apipkg==1.5
appdirs==1.4.3
APScheduler==3.6.3
asgiref==3.2.0
asn1crypto==0.24.0
astroid==2.2.5
atomicwrites==1.4.0
attrs==19.1.0
autobahn==19.8.1
Automat==0.7.0
autopep8==1.4.4
billiard==3.6.3.0
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
colorama==0.4.1
confusable-homoglyphs==3.2.0
constantly==15.1.0
cov-core==1.15.0
coverage==5.3
cryptography==2.7
defusedxml==0.6.0
distlib==0.3.0
dj-database-url==0.5.0
Django==2.2.4
django-allauth==0.40.0
django-ckeditor==5.7.1
django-cleanup==4.0.0
django-contrib-comments==1.9.2
django-countries==5.5
django-crispy-forms==1.7.2
django-crontab==0.7.1
django-filter==2.0.0
django-heroku==0.3.1
django-js-asset==1.2.2
django-kronos==1.0
django-registration==2.4.1
django-rest-auth==0.9.3
django-tinymce4-lite==1.7.5
djangorestframework==3.9.1
execnet==1.7.1
filelock==3.0.12
hyperlink==19.0.0
idna==2.8
importlib-metadata==2.0.0
incremental==17.5.0
iniconfig==1.1.1
isort==4.3.21
jsmin==2.2.2
kombu==4.6.8
lazy-object-proxy==1.4.1
Markdown==3.0.1
mccabe==0.6.1
oauthlib==3.1.0
packaging==20.4
pep8==1.7.1
Pillow==6.1.0
pipenv==2018.11.26
pluggy==0.13.1
psycopg2==2.8.3
py==1.9.0
pycodestyle==2.5.0
pycparser==2.19
PyHamcrest==1.9.0
pylint==2.3.1
pyparsing==2.4.7
pytest==6.1.1
pytest-cov==2.10.1
pytest-django==4.1.0
pytest-forked==1.3.0
pytest-xdist==2.1.0
python-crontab==2.4.0
python-dateutil==2.8.1
python3-openid==3.1.0
pytz==2018.5
requests==2.22.0
requests-oauthlib==1.2.0
schedule==0.6.0
six==1.12.0
sqlparse==0.2.4
stripe==2.37.1
toml==0.10.1
txaio==18.8.1
typed-ast==1.4.0
tzlocal==2.0.0
urllib3==1.25.3
vine==1.3.0
virtualenv==16.6.1
virtualenv-clone==0.5.3
virtualenvwrapper-win==1.2.5
whitenoise==5.0.1
wrapt==1.11.2
yolk==0.4.3
zipp==3.3.1
zope.interface==4.6.0
